<div class="row">
  <div class="contact-form">
    <h1 class="mb-4">Fill in your contact details</h1>
    <form action="/" class="col-sm-4">
      <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="form1" class="form-control" />
        <label mdbLabel class="form-label" for="form1">Name </label>
      </mdb-form-control>
      <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="form1" class="form-control" />
        <label mdbLabel class="form-label" for="form1">Surname </label>
      </mdb-form-control>
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="typeEmail" class="form-control" />
        <label mdbLabel class="form-label" for="typeEmail"
          >Email address
        </label>
      </mdb-form-control>
      <mdb-form-control class="mb-4">
        <input mdbInput type="tel" id="typePhone" class="form-control" />
        <label mdbLabel class="form-label" for="typePhone">Phone number </label>
      </mdb-form-control>
      <button mdbRipple type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
