<div class="row">
  <div class="product-info">
    <div class="col-sm-6 card mt-3">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <div *ngIf="product.photo">
          <img alt="photo" [src]="product.photo" class="img-fluid" />
        </div>
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </a>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ product.name }} - {{ product.price }} EUR</h3>

        <div class="card-text mt-2">
          <p><strong>Display:</strong> {{ product.display }}</p>
          <p><strong>Camera:</strong> {{ product.camera }}</p>
          <p><strong>Face ID:</strong> {{ product.faceId }}</p>
          <p><strong>Capacity:</strong> {{ product.capacity }}</p>
        </div>
        <a href="/" class="btn btn-primary"
          >Buy <i class="fas fa-shopping-cart ms-2"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <h1>{{ product.name }}</h1>
  <h2>{{ product.price }} EUR</h2>

  <div *ngIf="product.photo">
    <img alt="photo" [src]="product.photo" />
  </div>

  <p><strong>Capacity:</strong> {{ product.capacity }}</p>
  <p><strong>Display:</strong> {{ product.display }}</p>
  <p><strong>Camera:</strong> {{ product.camera }}</p>
  <p><strong>Face ID:</strong> {{ product.faceId }}</p>
</div> -->
