:host {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
  h3,
  p {
    text-align: center;
  }
  .product-info {
    display: block;
    text-align: center;
  }
  .card {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .fa-shopping-cart {
    color: white;
  }
}
